<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="CheckForChangesInterval" value="1000" />
    <add key="SMTP-Host" value="smtp.gmail.com" />
    <add key="SMTP-Port" value="587" />
    <add key="SMTP-EnableSSL" value="true" />
    <add key="SMTP-Login" value="" />
    <add key="SMTP-Password" value="" />
    <add key="SMTP-From" value="" />
    <add key="SMTP-To" value="" />
  </appSettings>
</configuration>